/* corps homme page + game */
body {
  display: flex;           /* active Flexbox */
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  height: 100vh;           /* prend toute la hauteur de la fenêtre */
  margin: 0;               /* enlève les marges par défaut */
  background-color: rgb(66, 126, 129); 
}


/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/***************     ██████╗  ██████╗ ██╗   ██╗████████╗ ██████╗ ███╗   ██╗     *****************/
/***************     ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔═══██╗████╗  ██║     *****************/
/***************     ██████╔╝██║   ██║██║   ██║   ██║   ██║   ██║██╔██╗ ██║     *****************/
/***************     ██╔══██╗██║   ██║██║   ██║   ██║   ██║   ██║██║╚██╗██║     *****************/
/***************     ██████╔╝╚██████╔╝╚██████╔╝   ██║   ╚██████╔╝██║ ╚████║     *****************/
/***************     ╚═════╝  ╚═════╝  ╚═════╝    ╚═╝    ╚═════╝ ╚═╝  ╚═══╝     *****************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

/* bouton homepage */
.button {
  padding: 15px 30px; 
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center
} 

/* compteur */
.counter {
  display: flex;           /* active Flexbox */
  align-items: center;     /* centre verticalement */
}

.page-footer {
  background-color: rgb(75 70 74);
  color: white;
  padding: 20px;
}