/* corps homme page + game */
body {
  display: flex;           /* active Flexbox */
  flex-direction: column;   /* empile les éléments verticalement */
  justify-content:center ; /* centre horizontalement */
  align-items:center ;     /* centre verticalement */
  height: 100vh;           /* prend toute la hauteur de la fenêtre */
  margin: 0;               /* enlève les marges par défaut */
  background-color: rgb(66, 126, 129); 
}

/* compteur */
.counter {
  display: flex;           
  align-items: center;     /* centre verticalement */
}

/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/***************     ██████╗  ██████╗ ██╗   ██╗████████╗ ██████╗ ███╗   ██╗     *****************/
/***************     ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔═══██╗████╗  ██║     *****************/
/***************     ██████╔╝██║   ██║██║   ██║   ██║   ██║   ██║██╔██╗ ██║     *****************/
/***************     ██╔══██╗██║   ██║██║   ██║   ██║   ██║   ██║██║╚██╗██║     *****************/
/***************     ██████╔╝╚██████╔╝╚██████╔╝   ██║   ╚██████╔╝██║ ╚████║     *****************/
/***************     ╚═════╝  ╚═════╝  ╚═════╝    ╚═╝    ╚═════╝ ╚═╝  ╚═══╝     *****************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

/* bouton homepage */
.button {
  padding: 15px 30px; 
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;           /* permet de centrer le contenu */
  align-items: center;
  justify-content: center;
}

/* bouton upgrade */
.buttonUpgrade {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #010101;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
}


